.container .card-header {
    display: flex;
    height: 40px;
    background-color: rgb(24, 26, 25);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-header h5 {
    color: #fff;
    font-weight: 100;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.requiredFieldIndicator {
    text-align: left;
  }