.container{
    width: 100%;
    max-height: max-content;
    background-color: #ffffff;
    margin-top: 3rem;
}

.container h2{
    font-weight: 600;
    color: #000000;
}

.contents{
    white-space: nowrap;
}

.controll-btn{
    display: flex;
    width: 100%;
}

.cbtn{
    flex: 1;
}
.cbtn2{
    text-align: right;
}

.table{
    display:block;
    overflow:auto;
    margin-bottom: 20px;
    table-layout: auto !important;
}

.exportPdfBtn{
    
}

.actionBtn{
    display: flex;
    justify-content: space-around;
}

.editBtn{
    cursor: pointer;
}

.deleteBtn{
    cursor: pointer;
}

.editBtn:hover{
    color: orange;
    transition: 0.1s ease-in-out;
}

.deleteBtn:hover{
    color: red;
    transition: 0.1s ease-in-out;
}
