/* Default styles */
.date-range-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  margin-top: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 350px;
}

input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.calendar-icon {
  font-size: 20px;
}

.date-picker-wrapper {
  border: 1px solid rgb(236, 236, 236);
}

.day-picker {
  border-spacing: 0;
}

.day-picker table {
  border-collapse: collapse;
  width: 100%;
}

.day-picker {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}

.day-picker .rdp-cell {
  border: 1px solid #a0a0a0;
  padding: 0px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: -20px;
}

.filter-button,
.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  width: 80px;
  height: 30px;
}

.filter-button {
  background-color: #50b6e6;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #000000;
  transition: box-shadow .15s, transform .15s;
}

.filter-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.filter-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.filter-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.clear-button {
  background-color: #ff8741;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  color: #000000;
  transition: box-shadow .15s, transform .15s;
}

.clear-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.clear-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.clear-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.date-picker-popup {
  display: block !important;
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 10px;
  border-radius: 4px;
  opacity: 1;
}

.filtered-range {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .input-container {
    width: 100%;
    max-width: none;
  }
}
