
@media (max-width: 768px){
    .rowstyle {
        display: flex;
        flex-direction: row !important;
    }
}

.form-title{
    color: blue;
    font-weight: 400;
}

.title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #000;
}

.smaller-input{
    font-size: 15px;
}

.left-btn{
    display: flex;
    justify-content: space-around;
}


.button{
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.form-error{
    color: red;
    padding: 5px;
    font-size: 14;
}

button:disabled{
    opacity: 0.35;
}

label{
    font-size: 15px;
    white-space: normal;
    text-wrap:pretty;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.form-group .required .control-label::after {
    content: "*";
    color: red;
}
.required:after {
    content:" *";
    color: red;
  }

  .wordinNum{
    margin-top: -20rem;
    background-color: aliceblue;
    color: blue;
    width: 600px;
  }
