.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0rem;
    margin-left: 0rem;
}

.custom-card-header {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 12px; /* Padding for spacing */
    font-size: 1rem; /* Larger font size */
    font-weight: bold; /* Bold text */
    border-bottom: 2px solid #0056b3; /* Bottom border */
}

.card-body p,a{
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-align: justify;
    text-decoration: none;
}
.modal-body{
    text-align: justify;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}